*{
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(174, 208, 241, 0.955);;
    color: white;
 
}
header{
    max-width: 1200px;
    margin: auto;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
  font-weight: normal;
  font-size: 25px;
  font-weight: 400;
  
}
.main{
    max-width: 1200px;
    margin: auto;
    
}
.container .left{
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: white;
}
.left p{
    background-color: rgba(255, 255, 255, 0.4);
}
.container .right{
    font-size: 18px;
}
.right b{
     background-color: rgba(255, 255, 255, 0.4);
}
.right input{
    display: block;
}
.container .left, .container .right{
    padding-top: 90px
}
.imagee{
    background-image: url(./images/prefeitura\ de\ maceio.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: auto;
}